
$gray-border:#aaaaaa;
$main-container:1170px;
$cl-black:#333333;
$cl-gray:#444444;
$cl-white:#fff;
$cl-aish:#757575;
$cl-yellow:#ffe400;
$mont-font:'Montserrat', sans-serif;
$lato-font:'Lato', sans-serif;
$muli-font:'Muli', sans-serif;
$poppins-font:'Poppins', sans-serif;
$bg-black:#2a2a2a;
$text-black:#000;